# Question 1
Consider the following Python module:

a = 0

def b():

global a

a = c(a)

def c(a):

return a + 2


After importing the module into the interpreter, you execute:

b()

b()

b()

a

?


What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

a = 0
This is assigning a normal variable

def b():
    global a
    a=c(a)
This is overwriting the initial variable a. By writing the line 'global a' we're making an empty variable that exists outside of the function as well as within it. The next line, a=c(a), assigns the value to the namespace and overwrites the initial value of 0.

def c(a):
    return a+2
This function is what was used to define a within function b. It uses the initial value for a, which is 0, and returns the calculated value of 2.

Executing b() will redefine a as 2. Printing a should bring the value 2.

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

fileLength('midterm.py')
284

fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>

    fileLength('idterm.py')

    File "/Users/me/midterm.py", line 3, in fileLength
 
    infile = open(filename)

    FileNotFoundError: [Errno 2] No such file or directory:

    'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:

    fileLength('midterm.py')

    358

    fileLength('idterm.py')

    File idterm.py not found.

In [11]:
def file_length(file_name):
    'function that returns the length of a file'
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File " + file_name + " not found.")

file_length('midterm.py')

File midterm.py not found.

# Question 3
Write a class named Marsupial that can be used as shown below:

m = Marsupial()

m.put_in_pouch('doll')

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and

c. overloads the __str__ operator so it behaves as shown below

In [118]:
# writing the class Marsupial
class Marsupial:
    'class that creates a list of marsupials'
    def __init__ (self):
        'initializes the class, creates a global list'
        global lst
        lst = []
    def put_in_pouch(self, thing):
        'function that adds things to the list'
        lst.append(thing)
    def pouch_contents(self):
        'function that prints the list'
        print(lst)   
M = Marsupial()
M.put_in_pouch('doll')
M.put_in_pouch('firetruck')
M.put_in_pouch('kitten')
M.pouch_contents()

# writing the class Kangaroo as a subclass
class Kangaroo(Marsupial):
    'subclass of Marsupial with extra attributes'
    def __init__(self, x, y):
        'extending from Marsupial'
        global a
        a = x
        global b
        b = y
        print("The kangaroo's coordinates are: ({0}, {1})".format(x, y))
    def jump(dx, dy):
        'moves kangaroo'
        global newx
        newx = a + dx
        global newy
        newy = b + dy
        #print("The kangaroo has moved to: ({0},{1}).".format(newx, newy))
    def __str__():
        'creating an overloaded string'
        if newx!=a & newy!=b:
            print('I am a Kangaroo located at coordinates ({},{})'.format(newx, newy))
        else:
            pass

Kangaroo(1,1)
Kangaroo.jump(3, 3)
Kangaroo.__str__()

['doll', 'firetruck', 'kitten']
The kangaroo's coordinates are: (1, 1)
I am a Kangaroo located at coordinates (4,4)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:

x = {

洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n
3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬

Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [119]:
def collatz(x):
    if(x==1):
        print(int(x))
    else:
        if x%2==0:
            print(int(x))
            collatz(x/2)
        if x%2!=0:
            print(int(x))
            collatz((3*x)+1)

collatz(10)

10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [80]:
global lst
lst = [] 

def binary(n):
    if n == 1: 
        lst.insert(0,1)
        print("The binary representative is {}.".format(lst))
    if n > 1:
        x = n%2
        if x == 1:
            lst.insert(0,1)
        else:
            lst.insert(0,0)
        binary(n//2)

binary(10)

The binary representative is [1, 0, 1, 0].

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. 

Each heading should be indented as follows: an h1 heading should have 
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.


infile = open('w3c.html')

content = infile.read()

infile.close()

hp = HeadingParser()

hp.feed(content)

W3C Mission

Principles

In [103]:
from html.parser import HTMLParser

class HeadingParser (HTMLParser):
    def Head(file):
        infile = open(file)
        content = infile.read()
        infile.close()
        from html.parser import HTMLParser 
        parser = HTMLParser()
        parser.feed(content)
        # next I would have to identify the headers using a search tool for html with header tag
        # then I would need to print these headings in the right order and using the right indentation
        
HeadingParser.Head(r"C:\Users\rache\Downloads\W3C.pdf")

UnicodeDecodeError: 'charmap' codec can't decode byte 0x90 in position 799: character maps to <undefined>

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

http://reed.cs.depaul.edu/lperkovic/csc242/test2.html

http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

http://reed.cs.depaul.edu/lperkovic/csc242/test3.html

http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [ ]:
def webdir(url, d, i):
    # I think that I need to adapt the crawl2 function used in the lecture but I've had trouble finding all of
    # the other functions that it relies upon
    
    # I would change it from entering every link, to just printing the URL.
    # I would use a search function to find the html associated with URLs and print that.
    # Then I would print each URL in the linked pages to a depth of d. This is the step that would use recursion.
    # I would indicate that with every recursive step, we add +1 to i

# Question 8
Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

In [79]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [157]:
%sql CREATE TABLE weather('City','Country','Season','Temp','Rain');
%sql SELECT * FROM weather

 * sqlite://
Done.
 * sqlite://
Done.

[]

In [158]:
%%sql
INSERT INTO weather
VALUES('Mumbai','India','Winter', 24.8, 5.9);
INSERT INTO weather
VALUES('Mumbai','India','Spring', 28.4, 16.2);
INSERT INTO weather
VALUES('Mumbai','India','Summer', 27.9, 1549.4);
INSERT INTO weather
VALUES('Mumbai','India','Fall', 27.6, 346.0);

INSERT INTO weather
VALUES('London','United Kingdom','Winter', 4.2, 207.7);
INSERT INTO weather
VALUES('London','United Kingdom','Spring', 8.3, 169.6);
INSERT INTO weather
VALUES('London','United Kingdom','Summer', 15.7, 157.0);
INSERT INTO weather
VALUES('London','United Kingdom','Fall', 10.4, 218.5);

INSERT INTO weather
VALUES('Cairo','Egypt','Winter', 13.6, 16.5);
INSERT INTO weather
VALUES('Cairo','Egypt','Spring', 20.7, 6.5);
INSERT INTO weather
VALUES('Cairo','Egypt','Summer', 27.7, 0.1);
INSERT INTO weather
VALUES('Cairo','Egypt','Fall', 22.2, 4.5);

SELECT * FROM weather

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [160]:
#All the temperature data.
%sql SELECT Temp FROM weather

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [162]:
#All the cities, but without repetition.
%sql SELECT Distinct City FROM weather

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [163]:
#All the records for India.
%sql SELECT * FROM weather WHERE Country=='India'

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [164]:
#All the Fall records.
%sql SELECT * FROM weather WHERE Season=='Fall'

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [165]:
#The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
%sql SELECT City, Country, Season FROM weather WHERE Rain>199 AND Rain<401

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [166]:
#The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
%sql SELECT City, Country FROM weather WHERE Season=='Fall' AND Temp>20 ORDER BY Temp ASC

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [168]:
#The total annual rainfall for Cairo.
%sql SELECT SUM(Rain) FROM weather WHERE City=='Cairo'

 * sqlite://
Done.

[(27.6,)]

In [183]:
#The total rainfall for each season.
#This comes out in alphabetical order.
%sql SELECT SUM(Rain) FROM weather GROUP BY Season

 * sqlite://
Done.

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

# Question 9
Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [73]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Part A
up = []
for char in words:
    char = char.upper()
    up.append(char)
print(up)

#Part B
low = []
for char in words:
    char = char.lower()
    low.append(char)
print(low)
    
#Part C
numbers = []
for char in words:
    i = len(char)
    numbers.append(i)
print(numbers)
    
#Part D
all = []
for char in words:
    word = []
    u = char.upper()
    l = char.lower()
    i = len(char)
    word.append(u)
    word.append(l)
    word.append(i)
    all.append(word)
print(all)

#Part E
four = []
for char in words:
    i = len(char)
    if i >= 4:
        four.append(char)
print(four)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']